{% extends "base.html" %}

{% block content %}

    <div id="buttons-div" class="container">
        <button id="today-button" onclick="load_today_chart()">Today's Results</button>
        <button id="week-button" onclick="load_week_chart()">Week Average</button>
        <button id="month-button" onclick="load_month_chart()">Month Average</button>
        <button id="all-time-button" onclick="load_all_time_chart()">All Time Average</button>
    </div>
    <div id="chart-title" class="container" >Click to view a leaderboard</div>
    <br>
    <div id="leaderboard" >

        <canvas id="myChart" width="500px">

        </canvas>
    </div>
    
<script src="static/leaderboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<style>
#chart-title{
    font-size: 16px;
    font-family: inherit;
    color:#C0FFFF;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#leaderboard {
    height: 400px;
    display: flex;
    justify-content: center;
    padding-right: 40px
}
#buttons-div {
    display: flex;
    justify-content: center;
}
button {
 padding: 1em 1em;
 width: 180px;
 border: 2px solid #C0FFFF;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 14px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #C0FFFF;
}

button::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #C0FFFF;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

button:hover::before {
 width: 105%;
}

button:hover {
 color: #111;
}

canvas{
    max-width: 500px;
    position: absolute;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
}

</style>

{% endblock %}